@import "./variables.scss";
@import "./fas.scss";

body{
  font-family: $standardText;
  margin: 0;
  background-color: $bodyBg;
}

h1, h2, h3, h4{
  font-family: $headline;
}

header{
  position: relative;
  text-align: center;
  height: 70vh;
  max-width: 1500px;
  width: 100vw;
  background-color: $headerBg;
  padding: 50px 0;
  margin: 0 auto;
  color: $mainBg;
  box-shadow: 20px 8px 20px rgba(209, 217, 230, 0.56);
    h1{
      padding: 0 10px;
      font-size: 6em;
      line-height: 70vh;
      margin: 0;
    }
    p{
      padding: 0 10px;
      position: absolute;
      text-align: center;
      width: calc(100% - 20px);
      top: 60%;
      font-size: 2.5em;
    }
}

main{
  display: grid;
  color: $headerBg;
  grid-template-columns: auto;
  max-width: 1500px;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  background-color: $mainBg;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 8px 20px rgba(209, 217, 230, 0.56);
}

section{

  button{
    margin: 20px;
    position: relative;
    width: 80px;
    height: 80px;
    padding: 0;
    border: none;
    border-radius: 20px;
    background-color: #efefef;
    cursor: pointer;
    box-shadow:
      10px 10px 15px rgba(209, 217, 230, 1),
      -10px -10px 15px rgba(255, 255, 255, 1);

    &:hover, &:focus{
      border: none;
      box-shadow:
          inset 10px 10px 15px rgba(209, 217, 230, 1),
          inset -10px -10px 15px rgba(255, 255, 255, 1);
      }

    a{
      text-decoration: none;
      opacity: .5;
    }
  }
  table{
    padding: 0;
    font-size: 30px;
    list-style: none;
    td, th{
      background-color: white;
      text-align: center;
      padding: 10px 50px;
      margin: 10px 0;
      border-radius: 20px;
      box-shadow: inset 10px 10px 15px rgba(200,200,200,0.6);

    &:hover{
      cursor: pointer;
      box-shadow:
        10px 10px 15px rgba(200,200,200,0.6),
        inset 5px 5px 15px rgba(200,200,200,0.6);

    }
    }
  }
}
