/*    COLORS    */

$bodyBg: #efefef;
$headerBg: #20273a;
$mainBg: white;
$alertBtn: #da1237;
$confirmBtn: #39de7b;
$primaryBtn: #8c8c8c;

/*    FONT FAMILYs    */
$headline: 'Big Shoulders Text', cursive;
$standardText: 'Open Sans', sans-serif;
