main{
  section{
    max-width: 40rem;
    padding: 10px;
    margin: 10px auto;
    ul{
      list-style: none;
    }
    li{
      position: relative;
      cursor: pointer;
      border: none;
      display: grid;
      grid-template-columns: 50px auto 50px;
      margin: 10px 0;
      overflow: hidden;
      box-shadow: inset 10px 5px 15px -5px $lightgreyShadow;
      h2, p{
        padding: 1rem 0;
        text-align: center;
        grid-column: 2;
      }
      h2{
        font-size: 1.2em;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      p{
        font-size: 1em;
      }
      .checkBtn{
        cursor: pointer;
        width: 60%;
        color: white;
        font-weight: bold;
        grid-column: 1;
        grid-row: span 2;
        background-color: $btnNoHover;
        border: none;
        transform: translateX(-20px);
        opacity: 0;
        transition: opacity 0.3s ease;
        &:hover{
          background-color: $check;
        }
      }
      .deleteBtn{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
        width: 60%;
        color: white;
        font-weight: bold;
        grid-column: 3;
        grid-row: 1 / span 2;
        background-color: $btnNoHover;
        border: none;
        transform: translateX(20px);
        opacity: 0;
        transition: opacity 0.3s ease, width .2s ease-in-out;
        &:hover{
          font-size: 1.4em;
          background-color: $delete;
          width: 100%;
        }
      }
      &:hover{
        background-color: $darkblue;
        color: white;
        box-shadow:
          5px 5px 20px -5px $lightgreyShadow,
          -10px -5px 20px -5px $lightgreyShadow;
        .deleteBtn, .checkBtn{
          transform: translateX(0);
          opacity: 1;
          transition: opacity .2s ease-in-out, transform .2s ease-in-out;
          &:hover{
            font-size: 1.4em;
            width: 100%;
            transition: width .2s ease-in-out;
          }
        }
      }
    }
  }
}
