$darkblue: rgb(22, 25, 47);
$darkblueShadow:  rgba(13, 15, 28, 0.8);
$lightgrey: rgb(236, 236, 236);
$lightgreyShadow: rgba(152, 167, 181, 0.80);
$btnNoHover: rgba(200, 200, 200, 0.5);
$delete: rgb(185, 36, 36);
$check: rgb(89, 195, 96);
